<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
        <body>
            <div class="admission-page">
                <div class="admission">
                    <a href="/register">  <button>REGISTER</button></a>
                    <a href="/update"><button>UPDATE</button></a>
                    <a href="/view"><button>VIEW</button></a>
                    <a href="/delete"><button>DELETE</button></a>
                </div>
            </div>
        </body>
</html>