<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet"href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="banner-section">
            <img src="../static/images/banner.jpg" alt="">
        </div>
        <div class="hero-section">
            <div class="sub-hero-section-1">
                <h1 class="title">ADMISSIONS OPEN</h1>
                <img src="../static/images/admissions.jpg" alt="">
            </div>
            <div class="sub-hero-section-2">
               <a href="./admissiion.html"> <h1>MANAGE  ADMISSIONS</h1></a>
                <img src="../static/images/college2.jpg" alt="">
            </div>
            <div class="gallery-section">
                <h1>NRCM GALLERY</h1>
                <div class="gallery-pics">
                    <img class="gallery-1" src="../static/images/play.jpg" alt="">
                    <img src="../static/images/students.jpg" alt="">
                    <img src="../static/images/dining.jpg" alt="">
                    <img src="../static/images/seminar.jpg" alt="">
                    <img src="../static/images/graduation.jpg" alt="">
                </div>
            </div>
            <div class="volunteer-section">
                <div class="sub-volunteer-section-1">
                    <img src="../static/images/hr.jpg" alt="">
            </div>
            <div class="sub-volunteer-section-2">
                <h1>CONTACT OUR VOLUNTEER</h1>
                <P>Narsimha Reddy Engineering College (NRCM) is promoted
                & managed under the inspiring & dynamic Chairmanship of
                Sri. J. Narsimha Reddy and a fleet of dedicated members.
                 This is the first institution belonging to “JAKKULA EDUCATIONAL SOCIETY”
                   was established in 2007 to serve the people of this backward region of
                    the state of Andhra Pradesh (India). This institution is developed strictly
                </P>
            </div>
        </div>
        <div class="footer-section">
            <div class="sub-footer-section-1">
                <h1>Address</h1>
                <p>Maisammaguda,Bahadurpally</p>
                <p>secunderabad,hyderabad-500085</p>
                <p>Telangana,India</p>
            </div>
            <div class="sub-footer-section-2">
                <input type="text" name="name" placeholder="enter your name">
                <input type="email" name="email" placeholder="enter your email">
                <input type="text" name="phone" placeholder="phone"><br>
                <select name="">
                    <option value="">CSE</option>
                    <option value="">ECE</option>
                    <option value="">EEE</option>
                    <option value="">MECH</option>
                </select>
                <br>
                <input type="submit">
            </div>
            <div class="sub-footer-section-3">
                <h1>CONTACT</h1>
                <p>986758659,8969675956</p>
                <p>nrcm.com,nrcm.org.com</p>
                <p>Email:nrcm@gmail.com</p>
            </div>
            <div class="copyright">
                <p>copyright © 2021 || All Rights Reserved || Devoloped by Shareef Mohammad</p>
            </div>
        </div>
    </body>
</html>