<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/register_form" method="post">
        <input type="number" name="id" placeholder="id">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Phone">
        <input type="number" name="percentage" placeholder="Inter percentage">
        <input type="number" name="rank" placeholder="Eamcet rank">
        <input type="text" name="course" placeholder="Course Interested">
        <input type="text" name="address" placeholder="Address">
        <input type="submit" value="register">
    </form>
</body>

</html>